body
{
	font-family: Muli;	
  background-image: url("img/barcelona_street.JPG");
  background-size: 100%;
  background-attachment: fixed;
  margin:0px;
}

h1,h2
{
  text-align: center;  
  color: white; 
}

h1,h3 
{
  font-family: 'Yeseva One';	
}

h3 
{
  /* This ugly code makes the gradient */
  background-color: #f54949;	
  background-image: -moz-gradient( linear, left top, right top, color-stop(0, #f54949), color-stop(0.08, #f5764a));
  background-image: -webkit-gradient( linear, left top, right top, color-stop(0, #f54949), color-stop(0.08, #f5764a));
  background-image: gradient( linear, left top, right top, color-stop(0, #f54949), color-stop(0.08, #f5764a));
  color:transparent;
  -webkit-background-clip: text;
  background-clip: text;

  /* This needs to be here for the underline to work */
  position: relative;
}

h3:after 
{
  /* This makes the underline */
  content: "";
  position: absolute;
  bottom: 0px;
  left: 0;
  height: 2px;
  width: 175px;
  top: 25px;
  background: #444;
  background: -moz-linear-gradient(left, #f54949 0%, #f5764a 100%);
  background: -webkit-linear-gradient(left, #f54949 0%, #f5764a 100%);
  background: linear-gradient(left, #f54949 0%, #f5764a 100%);
}

#title
{
  background-image: -moz-gradient( linear, left top, right top, color-stop(0, #f54949), color-stop(50%, #f5764a));
  background-image: -webkit-gradient( linear, left top, right top, color-stop(0, #f54949), color-stop(50%, #f5764a));  
  background-image: gradient( linear, left top, right top, color-stop(0, #f54949), color-stop(50%, #f5764a));  
}