body
{
	background-color: hsla(0, 4%, 96%, 1);
}

.header
{
    background: white;
	font-family: 'Muli';
    padding-bottom: 120px;	
}

.header a
{
    position: relative;
    top: 12px;
    left: 12px;
    text-decoration: none;
    color: hsl(0, 0%, 48%);
    font-size: 20px;	
}

#main
{
	width: 800px;
	margin: auto;
	font-family: 'Libre Baskerville', serif;
	line-height: 1.85;
	letter-spacing: 0.5;
	font-size:15px;
	color: hsla(0, 0%, 0%, 0.6);
}

.lead
{
	font-weight: 700;
    letter-spacing: 1.5;
	line-height: 1.65;
    font-size:18px;
	color: hsla(0, 0%, 0%, 0.7);
}

p
{
	margin-top: 35px;
}

h1
{
	width: 800px;
	margin: auto;
	font-size: 75px;
	color: black;
	font-weight: 200;
    margin-top: 55px;
}

.name
{
	font-family: 'Montserrat';
	text-align: center;
    font-weight: 700;
    font-size: 20px;
    color: hsla(4, 89%, 62%, 1);	
}

.origin
{
	font-style: italic;
    color: hsla(4, 89%, 62%, 1);	
}

img.avatar
{
	margin: auto;
    margin-top: -50px;
    position: relative;
    width: 100px;
    display: block;
}

@media only screen and (max-width: 500px)
{
	#main
	{
		width: 70vw;
	}

	h1
	{
		font-size: 100px;
	}
}